
<!-- 🌐 GLOBAL LOADER -->
@if (loading) {
  <div class="fixed inset-0 flex items-center justify-center bg-black/60 backdrop-blur-sm z-[99998]">
    <div class="text-center animate-pulse">
      <fa-icon [icon]="icons.cogs" class="text-5xl text-white mb-2"></fa-icon>
      <p class="text-base font-semibold text-white">{{ messageText }}...</p>
    </div>
  </div>
}

<!-- 🌐 GLOBAL TOAST -->
@if (showMessage) {
  <div class="fixed top-20 left-0 right-0 flex justify-center z-[99999] pointer-events-none">
    <div
      class="px-5 py-3 rounded-xl shadow-xl text-white
             pointer-events-auto animate-fadeIn transition-all"
      [ngClass]="{
        'bg-green-600': messageType === 'success',
        'bg-red-600': messageType === 'error'
      }"
    >
      <fa-icon
        [icon]="messageType === 'success'
          ? icons.checkCircle
          : icons.exclamationCircle"
        class="mr-2"
      ></fa-icon>

      <span class="font-medium">{{ messageText }}</span>
    </div>
  </div>
}
<app-navbar/>
<body>


  <!-- ========================================================= -->
  <!-- MAIN LAYOUT -->
  <!-- ========================================================= -->
  <div class="w-full flex justify-center py-10 px-4">
    <div class="w-full max-w-7xl grid md:grid-cols-2 gap-8">

      <!-- ========================================================= -->
      <!-- LEFT: CREATE COUPON CARD -->
      <!-- ========================================================= -->
      <form
        [formGroup]="createCupon"
        (ngSubmit)="onSubmit()"
        class="glass-card card-hover rounded-xl shadow p-6 border hover:border-orange-400 hover:shadow-orange-300/40 animate-slide-up transition">

        <h2 class="text-xl font-bold flex items-center gap-3 text-blue-700 mb-4">
          <span class="orange-badge">🚀 Launch Coupon</span>
          {{ isEditMode ? "Edit Coupon" : "" }}
        </h2>

        <div class="space-y-4">

          <!-- PLAN -->
          <div>
            <label class="font-semibold text-sm flex items-center gap-2">
              <fa-icon [icon]="icons.tag" class="text-orange-500"></fa-icon> Select Plan *
            </label>
            <select formControlName="planId"
              class="w-full border rounded-md p-2 text-sm bg-gray-50 focus:ring-2 focus:ring-blue-600">
              @for (plan of plans; track plan.planId) {
              <option value="{{ plan.planId }}">{{ plan.planName }}</option>
              }
            </select>
          </div>

          <!-- COUPON CODE -->
          <div>
            <label class="font-semibold text-sm flex items-center gap-2">
              <fa-icon [icon]="icons.code" class="text-blue-500"></fa-icon> Coupon Code *
            </label>
            <input formControlName="cuponCode"
              class="w-full border p-2 rounded-md text-sm bg-gray-50 placeholder:text-gray-400 focus:ring-2 focus:ring-orange-500"
              placeholder="e.g. NEWYEAR2025" />
          </div>

          <!-- DISCOUNT -->
          <div>
            <label class="font-semibold text-sm flex items-center gap-2">
              <fa-icon [icon]="icons.percent" class="text-yellow-600"></fa-icon> Discount (%)
            </label>
            <input type="number" step=".1" formControlName="discount"
              class="w-full border p-2 rounded-md text-sm bg-gray-50 focus:ring-2 focus:ring-blue-600"
              placeholder="10, 20 etc." />
          </div>

          <!-- DATES -->
          <div class="grid grid-cols-2 gap-4">
            <div>
              <label class="font-semibold text-sm flex items-center gap-2">
                <fa-icon [icon]="icons.calendar" class="text-orange-500"></fa-icon> Valid From
              </label>
              <input type="date" formControlName="validFrom"
                class="w-full border p-2 rounded-md text-sm bg-gray-50 focus:ring-2 focus:ring-blue-600" />
            </div>

            <div>
              <label class="font-semibold text-sm flex items-center gap-2">
                <fa-icon [icon]="icons.calendar" class="text-blue-500"></fa-icon> Valid Till
              </label>
              <input type="date" formControlName="validTill"
                class="w-full border p-2 rounded-md text-sm bg-gray-50 focus:ring-2 focus:ring-orange-500" />
            </div>
          </div>

          <!-- ACCESS -->
          <div>
            <label class="font-semibold text-sm flex items-center gap-2">
              <fa-icon [icon]="icons.lock" class="text-blue-500"></fa-icon> Access
            </label>
            <select formControlName="access"
              class="w-full border p-2 rounded-md text-sm bg-gray-50 focus:ring-2 focus:ring-blue-600">
              <option value="PUBLIC">Public</option>
              <option value="PRIVATE">Private</option>
            </select>
          </div>

          <!-- DESCRIPTION -->
          <div>
            <label class="font-semibold text-sm flex items-center gap-2">
              <fa-icon [icon]="icons.infoCircle" class="text-orange-500"></fa-icon> Description
            </label>
            <textarea formControlName="description"
              class="w-full border p-2 rounded-md text-sm bg-gray-50 h-20 focus:ring-2 focus:ring-orange-500"
              placeholder="Short details..."></textarea>
          </div>

        </div>

        <button type="submit" [disabled]="createCupon.invalid"
          class="w-full py-2.5 mt-3 rounded-lg bg-linear-to-r from-blue-600 to-orange-500 text-white font-semibold shadow hover:opacity-90 transition">
          <fa-icon [icon]="icons.lauch"></fa-icon>
          {{ isEditMode ? "Update Coupon" : "Launch Coupon" }}
        </button>
      </form>

      <!-- ========================================================= -->
      <!-- RIGHT: COUPON LIST -->
      <!-- ========================================================= -->
      <div
        class="glass-card card-hover shadow rounded-xl p-6 border hover:border-blue-500 hover:shadow-blue-300/40 animate-slide-up transition">

        <h2 class="text-xl font-bold mb-5 text-orange-600 flex items-center gap-2">
          <fa-icon [icon]="icons.list"></fa-icon> All Coupon Codes
        </h2>

        <!-- FILTER BAR -->
        <div class="flex flex-wrap items-center gap-3 mb-5">
          <div class="flex items-center border rounded-md bg-gray-50 px-2">
            <fa-icon [icon]="icons.search" class="text-gray-400 mr-1"></fa-icon>
            <input type="text" [(ngModel)]="searchText"
              placeholder="Search" class="p-2 bg-transparent text-sm outline-none placeholder:text-gray-400" />
          </div>

          <div class="flex items-center border rounded-md bg-gray-50 px-2">
            <fa-icon [icon]="icons.sort" class="text-gray-400 mr-1"></fa-icon>
            <select [(ngModel)]="sortField" class="p-2 bg-transparent text-sm outline-none">
              <option value="">Sort</option>
              <option value="users">Users</option>
              <option value="validTill">Valid Till</option>
              <option value="offPercentage">Discount</option>
            </select>
          </div>

          <div class="flex items-center border rounded-md bg-gray-50 px-2">
            <fa-icon [icon]="icons.user" class="text-gray-400 mr-1"></fa-icon>
            <input type="number" [(ngModel)]="filterUsers" placeholder="Users >"
              class="p-2 bg-transparent text-sm outline-none" />
          </div>

          <div class="flex items-center border rounded-md bg-gray-50 px-2">
            <fa-icon [icon]="icons.calendar" class="text-gray-400 mr-1"></fa-icon>
            <input type="date" [(ngModel)]="filterDate" class="p-2 bg-transparent text-sm outline-none" />
          </div>

          <div class="flex items-center border rounded-md bg-gray-50 px-2">
            <fa-icon [icon]="icons.percent" class="text-gray-400 mr-1"></fa-icon>
            <input type="number" [(ngModel)]="filterDiscount" placeholder="Discount >"
              class="p-2 bg-transparent text-sm outline-none" />
          </div>
        </div>

        <!-- TABLE -->
        <div class="overflow-x-auto rounded-lg border border-gray-300">
          <table class="w-full text-xs md:text-sm">
            <thead>
              <tr class="bg-black text-white text-xs">
                <th class="p-3">Code</th>
                <th class="p-3">Plan</th>
                <th class="p-3">Users</th>
                <th class="p-3">From</th>
                <th class="p-3">Till</th>
                <th class="p-3">Discount</th>
                <th class="p-3">Access</th>
                <th class="p-3">Actions</th>
              </tr>
            </thead>

            <tbody>
              @for (c of cuponCodes 
              | cuponSearhPipe: searchText
              | cuponsSortPipe: sortField
              | cuponUsersFilterPipe: filterUsers
              | couponDateFilterPipe: filterDate
              | couponDiscountFilterPipe: filterDiscount; 
              track c.cuponCode) {

              <tr class="animate-fade hover:bg-orange-200 transition"
                [ngClass]="($index % 2 === 0) ? 'bg-orange-100' : 'bg-gray-50'">

                <td class="p-3 font-semibold">{{ c.cuponCode }}</td>
                <td class="p-3">{{ c.planId }}</td>
                <td class="p-3">{{ c.users }}</td>
                <td class="p-3">{{ c.validFrom }}</td>
                <td class="p-3">{{ c.validityDate }}</td>
                <td class="p-3 text-blue-700 font-bold">{{ c.offPercentage }}%</td>

                <td class="p-3">
                  <span class="px-2 py-1 text-xs font-bold rounded-full"
                    [ngClass]="{
                      'bg-green-100 text-green-700': c.access === 'PUBLIC',
                      'bg-red-100 text-red-700': c.access === 'PRIVATE'
                    }">
                    {{ c.access }}
                  </span>
                </td>

                <td class="p-3 flex gap-3">
                  <button (click)="editCoupon(c)" class="text-blue-600 font-medium hover:underline">Edit</button>
                  <button (click)="confirmDelete(c)"
                    class="text-red-600 font-medium hover:underline">Delete</button>
                </td>

              </tr>
              }
            </tbody>
          </table>
        </div>

      </div>

    </div>
    
  <!-- ========================================================= -->
  <!-- DELETE POPUP -->
  <!-- ========================================================= -->
  @if (showDeletePopup) {
  <div class="fixed inset-0 bg-black/50 flex justify-center items-center z-50">
    <div class="bg-white p-6 rounded-xl shadow-xl w-80 text-center">
      <p class="font-semibold text-lg">Are you sure?</p>

      <div class="flex justify-center gap-4 mt-5">
        <button (click)="deleteConfirmed()" class="px-4 py-2 bg-red-600 text-white rounded-md">Yes</button>
        <button (click)="showDeletePopup=false" class="px-4 py-2 bg-gray-300 rounded-md">Cancel</button>
      </div>
    </div>
  </div>
  }
  </div>


</body>
<app-footer/>